:root{
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body{
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  
}
.text-title{
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}

.text-bright{
  color: var(--lightBlue);
}

.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
  cursor: pointer;
 
}
.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

/** carrousel*/
.carousel-inner img {
  width: 100%;
  height: 100%;
}

/** barra top*/
/* 
.menu-icon{
  display: none;
}
.barraTopFija{
  background: #333;
  color: white;
  padding: 0;
  z-index: 1001;
  position: fixed; 
  left: 0;
  top: 0;
  right:0;
}
.bar-nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-inline {
  display: inline-block;
  flex-wrap: wrap;

}

.navigation ul li{
  display: inline-block;
}

.navigation ul li a{
  display: inline-block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 2px;
  
}

.navigation ul li a:hover {
  background: #4a4a4a;
  
} */

/* .navegacion{
  background: yellowgreen;
} */
@media only screen and (max-width: 991px){
  .barraBusqueda{
    display: none;
  }
}
@media only screen and (max-width: 767px){
  /* .navegacion{
    background: white;
  } */
  .btn-xs-block {
    display: block;
    width: 100%;
    
  }
  input[type="submit"].btn-xs-block,
  input[type="reset"].btn-xs-block,
  input[type="button"].btn-xs-block {
      width: 100%;
  }
  .btn-block + .btn-xs-block,
  .btn-xs-block + .btn-block,
  .btn-xs-block + .btn-xs-block {
      margin-top: 0.5rem;
  }
  
    /* .slide-Top{
      margin-top: 1rem;
    } */
} 

 /** slide top*/

/** inicio estilo oferta*/

/** final estilo oferta */